[Desktop Entry]
Version=1.0
Type=Link
Name=Classbox
Comment=Open Classbox Product Page
URL=http://www.classbox.ch
Icon=/home/classbox/Pictures/logo.png
Categories=Network;WebBrowser;