[Desktop Entry]
Version=1.0
Type=Link
Name=classbox.ch
Comment=Open Classbox Product Page
URL=http://www.classbox.ch
Icon=/home/classbox/Pictures/logo-inverted.png